.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;  
}

.item {
    border: 1px solid #000;
    border-radius: 5px;
    max-width: 95%;
    padding: 10px 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item:last-child {
    margin-bottom: 0;
}

.observe {
    width: 100%;
}

.remove {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.remove:hover {
    fill: #3f0058;
    color: #3f0058;
}